<%= render :partial => "jobs/search_bar" %>

<br>
<div class="search_result">
  <table class="table table-bordered">
    <%= @jobs.each do |job| %>
    <%= link_to(job.title, job_path(job))%>
    <hr>
    <% end %>
  </table>

</div>
