<div class="about">
  <h1 class="text-center">Together</h1>

    <div class="about_together">
      <h3>是什么？</h3>
      <p style="line-height: 30px;">Together是一个用于发布个人或者团体活动的平台，同时你也可以在该平台上搜索自己感兴趣的活动，进行参与；
      <br>
      我们希望借此，可以让更多的人参与线下活动；
      <br>
      见众生，见自己。</p>
      <hr>
      <h3>怎么玩？</h3>
      <p style="line-height: 30px;">免费注册；
      <br>
      如果你是活动发起者，直接发起邀约即可；
      <br>
      如果你想要参与，选中你想要赴约的活动，直接申请参与。
      </p>
      <hr>
      <h3>还有啥？</h3>
       <p>就这些，没啥了，Enjoy!</p>
    </div>
</div>
