/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "common.scss";




.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  max-width: 1000px;//最大宽度
  margin-top: 200px;//和顶部拉开距离
  margin-bottom: 0;//这样就可以紧接息面的描述文字
  border-top-right-radius: 3px;//右上角圆边
  border-top-left-radius: 3px;//左上角圆边
}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}

.btn-danger {
    color: #fff;//字体颜色

    background-color: #EF6C00;//背景颜色

    border-color: #EF6C00;//边框颜色

}

.btn-danger:hover {
    background-color: #E65100;//鼠标放置在btn上的背景颜色

    border-color: #E65100;//鼠标放置在btn上的边框颜色

}

.btn-lg, .btn-group-lg > .btn {
    padding: 8px 16px;//通过padding来决定btn的大小
    font-size: 20px;//btn文字大小
    letter-spacing: 3px;//调整文字间距
    border-radius: 3px;//btn圆角
    width: 200px;//这里用指定宽度把btn拉得更长
}

// admin/jobs/index
.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
