/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require social-share-button
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "common.scss";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap-datepicker3";


html {
    height: 100%;
}

body {
  min-height: 100%;                                   // footer固定底部
  display: flex;                                      // footer固定底部
  flex-direction: column;                             // footer固定底部
  font-size: 1.2em;                                   // 网站所有字体缩小比例
}

.content {
 flex: 1;
}


// flashes
.alert {
  margin: 0px -15px;
  border-radius: 0px;
}

 // 设置头像大小
 .thumbnail_avatar {
 border-radius:50%;
 width:30px;
 height:30px;
 padding:1px;
 margin-top:10px;
 margin-bottom: 2px;
}

// 设置活动logo大小
.event_logo {
width:200px;
height:200px;
padding:1px;
margin-top:10px;
margin-bottom: 2px;
}

.event_logo_sm {
width:100px;
height:100px;
padding:1px;
margin-top:10px;
margin-bottom: 2px;
}

//search 页面
.search-page {
  height: 100%;
  weight: 100%;
  padding-top: 30px;
}
.search-count {
  font-size: 20px;
  text-align: center;
}
.search_no_result {
  margin-top: 30px;
}

.search_no_result p {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
}

.search-page .eventlist {
  margin-top: 60px;
}

//活动列表
.submenu {
  margin:20px 0px -20px 60px;

}
.eventslist_page .eventList-item {
  margin: 3em auto 2em;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  background: #fff;
}

.eventslist_page .eventList-item-pic {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right:auto;
  display:block;
  padding: 20px 40px;
}
.eventslist_page .title {
  text-align: center;
  font-size: 15px;
  color: #666;
  margin: -20px 0px 20px;
}
.eventslist_page .details {
  margin-bottom: 10px;
}
.eventslist_page .city {
  float: left;
  width: 50%;
  padding: 5px 40px;
  margin: -5px;
}
.eventslist_page .favorite {
  float: left;
  width: 50%;
  padding: 5px 50px;
}

//我的收藏
.favorite-item-header {
  background: #f5f5f5;
  padding: 20px 0;
  color: #7f8c8d;
  text-align: center;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.favorite-item-header label {
  margin-top: -8px;
  margin-bottom: 20px;
}

.favorite-item-list {
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.favorite-item-list hr {
  border-top: 1px solid #d9d9d9;
  margin: 0;
  padding: 0;
}

//个人中心
.my_info {
  margin-top: 50px;
}

.my_info_avatar p {
 font-size: 16px;
 margin: 10px 0px 10px;
}
.basic_info h3 {
  margin-top: 10px;
}
.my_name {
  margin: 20px 0 20px 0px;
}

.my-photo {
  margin-top: 10px;
}
#user_current_password {
  width: 300px;
}

#user_password {
  width: 300px;
}

#user_password_confirmation {
  width: 300px;
}

.menu {
    margin-top: 50px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin-left: 20px;
    text-align: center;
}
.menu-heading:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.menu-heading {
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #f3f5f8;
    border-bottom: 1px solid #e1e4e8;
}

.menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
}

.menu-item.selected {
    font-weight: 600;
    color: #24292e;
    cursor: default;
    background-color: #fff;
}
//event show页面


.event_info {
  margin: 30px;
}
.TabBarBox {
    border: 1px solid #dfdfdf;
    margin-bottom: 30px;
}

.TabBarBox ul {
    width: 100%;
    position: relative;
    height: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: -8px;
    border-bottom: 0;
}

.event-over {
  display: block;
  width: 500px;
  height: 30px;
  font-size: 16px;
  padding: 6px 6px;
  margin-top: -2px;
}
.event-apply {
  margin-top: -6px;
}
//活动评价部分

.review_avatar {
border-radius:50%;
width:60px;
height:60px;
padding:1px;
margin-top:10px;
margin-bottom: 2px;
}
.review-user-info {
  margin-top: 20px;
}

.review-comment {
  font-size: 16px;
  margin-left: 110px;
  margin-top: 20px;
  font-weight: bold;
}

//about
.about {
  margin-bottom: -100px;
  background-color: #fefefe;
}
.about_together {
  float:left;
  margin-left: 20px;

}
.add_you {
  float:right;
  background-image: url("https://ws4.sinaimg.cn/large/006tKfTcgy1fk0klscs0ng30dw08itfz.gif");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 80% 50%;
  height: 500px;
  margin-top: -450px;
}
