/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "common.scss";
@import "select2";
@import "select2-bootstrap";


html {
    min-height: 100%;
    position: relative;
}

body {
  margin-bottom: 180px;
}

// flashes
.alert {
  margin: 0px -15px;
  border-radius: 0px;
}

 // 设置头像大小
 .thumbnail_avatar {
 border-radius:50%;
 width:30px;
 height:30px;
 padding:1px;
 margin-top:10px;
 margin-bottom: 2px;
}

// 设置活动logo大小
.event_logo {
width:200px;
height:200px;
padding:1px;
margin-top:10px;
margin-bottom: 2px;
}

.event_logo_sm {
width:100px;
height:100px;
padding:1px;
margin-top:10px;
margin-bottom: 2px;
}

//search 页面
.search-page {
  height: 100%;
  weight: 100%;
  padding-top: 30px;
}
.search-count {
  font-size: 20px;
  text-align: center;
}

.search-page .eventlist {
  margin-top: 60px;
}
