//---------Navbar---------

.navbar-default {
   background-color: rgb(51, 51, 51);  //背景颜色
   border-bottom: 1px solid;
   margin-bottom: 0; //底部 margin 不撑开距离
   height: 50px;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
.navbar-right {
    float: right !important;
    margin-right: 20px;
    margin-top: -45px;
  }
}

// fixed
.navbar-fixed-top {
    top: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-default .navbar-brand {
 font-size: 26px; //字体大小
 color: white;
 padding: 10px 15px; //上下10px，左右15px
 line-height: 30px; //文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
 color: rgb(76,164,24); //鼠标放置在链接上的文字颜色

 background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
}


 .navbar-default .navbar-nav > li > a{
   color: white;
   font-size: 16px;

 }


 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: rgb(68,151,13);

   background-color: transparent;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
   color: rgb(76,164,24);

   background-color: white;

 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
   background-color: white;

   color: rgb(68,151,13);

 }

 .navbar-brand > img {
   display: inline-block;
   margin-right: 10px;
   width: 32px;
   height: 32px;
 }

// .container-fluid .jumbotron{
//  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
//  margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
//  border-radius: 0;//圆角为0
// }


/***** Search Bar *******/

.input-group {   //调搜索框大小和位置
  margin-left: 580px;
  width: 400px;
  margin-top: 10px;
  .search-bar-submit {
    position: relative;
    display: inline-block;
  }
  .search-bar-input  {
    min-width: 300px;
    transition: 0.35s;
    }
}

/***** login *******/
.log-page-bg {
  height: 900px;
  margin-bottom: -100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://ws2.sinaimg.cn/large/006tKfTcgy1fj8fvtaeqcj31kw11s4qq.jpg");
}
.log-page {
  margin-top: 100px;
}
.log-text {
  font-weight: 300;
  color: white;
}
.log-text .help-block {
  color: white;
}

.login-part a {
  padding-top: 5px;
}

.login-part a:hover,
.login-part a:focus {
  color: rgb(68,151,13);
}

.btn-login {
    color: white;
    background-color: transparent;
    border-color: #d7d7d7;
    width: 80px;
    height: 30px;
    margin-right: 5px;
    margin-top: 10px;

}

.btn-signup {
    color: white;
    background-color: rgb(76,164,24);
    border-color: #d7d7d7;
    width: 80px;
    height: 30px;
    margin-top: 10px;
}
// footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #333333;
  text-align: center;
  font-size: 12px;
  color: #C2C2C2;
}

.footer span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    line-height: 23px;
  }

.footer-text {
    color: white;
    }

.footer p {
  margin: 10px 0 10px;
}

.footer {
  a:hover, a:focus{
  color: #fff !important;
  text-decoration: none; //无下划线
  }
}

#gotop {
  display: block;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #fff;
  // border-radius: 5px;
  position: fixed;
  top: 80%;
  right: 35px;
  box-shadow: 1px 1px 3px #666;
  }
#gotop span {
  color: #000;
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 20px;
}
