// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// landingpage

/*  --- 大图高度 和 滚动按钮 ---  */
#myCarousel {                                      //滚动大图的相框高
    position: relative;
    height: 800px;
}
#myCarousel .carousel-inner .item {                //图片截取的宽度，这里与相框高度一致
    height: 800px;
    // background-size: cover;                             //确保图片完全撑开
    background-position: center center;
    background-repeat: no-repeat;
}

#myCarousel .carousel-inner .item .carousel-caption {                //图片截取的宽度，这里与相框高度一致

}
#myCarousel .carousel-indicators > li {            //滚动按钮的设置
    width: 5px;
    height: 5px;
    margin: 0 2px;
    background-color: #fff;
    opacity: 0.5;
}
#myCarousel .carousel-indicators > li.active {     //当前滚动按钮的设置
    width: 40px;
    height: 5px;
    opacity: 0.8;
}

/*  --- 标题文字设置 ---  */

.carousel-caption {
    top: 35%;
    height: 35%;
    z-index: 3;                                       //元素堆叠等级3，将显示在最上层
    color: #fff;
    padding-top: 30px;
    text-align: center;
    background-color: rgba(220,220,220, 0.1);
}
.carousel-caption h2 {                                            //h1标题设置
    font-size: 4em;
    font-weight: 500;
    margin: 10px;
    padding: 0;
}

.carousel-caption p {                                            //h1标题设置
    font-size: 1.5em;
    margin: 20px;
    padding: 0;
}

.carousel-caption .caption-button {
  padding: 10px 10px;
  font-size: 18px;

}
/*  --- 遮罩滤镜层 ---  */
.overlay {                                            //遮罩滤镜层，把图片调暗，突出文案内容
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;                                       //元素堆叠等级2，将显示在最中层
    background-color: #080d15;
    opacity: 0;
}

/*  --- 按钮 ---  */
.btn.btn-lg {
  text-align: center;
  padding: 10px 20px;
}
.btn.btn-hero {
  color: #f5f5f5;
  background-color: #4CA418;
  border-color: #4CA418;
  margin: 20px auto;
}
.btn.btn-hero:hover {
  color: #f5f5f5;
  background-color: #6bd62c;
  border-color: #6bd62c;
  margin: 20px auto;
}
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #6fa5a9;
    border-color: #6fa5a9;
    margin: 20px auto;
}

/*  --- 中间区域介绍 ---  */
.landingpage-mid::before {
   background-color: rgba(#e0e8e1, 0.21);
}
.landingpage-mid {                                   //给图片整好形
   height: 620px;
  //  background-size: cover;                             //确保图片完全撑开
   background-position: bottom center;
   background-repeat: no-repeat;
   background-image: url(https://ws3.sinaimg.cn/large/006tNc79gy1fj8fv2xevvj30iz06imzm.jpg);
 }
 .landingpage-mid .intro-title {                          //编写标题样式
   text-align: center;
   color: #6bd62c;
   letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
   font-size: 1.8em;
   margin-top: 3em;
 }
 .landingpage-mid .intro-description {                             //编写内容样式
   text-align: center;
   font-size: 18px;
   color: #6bd62c;
   font-size: 1.2em;
   margin-top: 2.5em;
   line-height: 2.5em;                                 //行间距也要拉开大一些
   letter-spacing: 0.18em;                             //把字间距撑开，视觉感更优雅
 }

/*-- 热卖商品部分 --*/
.eventList-item {
  margin: 3em auto 2em;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  background: #fff;
}

.eventList-item-pic {
  margin-bottom: 1em;
  padding: 20px 18px 10px;
}
.eventList-item-title {
  text-align: center;
  font-size: 15px;
  color: #666;
  margin: -10px 0px 10px;
}

/*-- 用户评价部分 --*/
.landingpage-evaluation {
  height: 300px;
}
.short-line {
  background: rgba(0,0,0,0.1);
  margin: 15px auto 35px auto;
  width: 125px;
  height: 2px;
}
.person .avata-wrapper {
    position: absolute;
    background-position: center center;
    margin-left: 70px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.person .intro {
   position: relative;
   height: 75px;
   overflow: hidden;
   font-size: 16px;
   z-index: 0;
   margin-top: 100px;
   font-weight: 800;
}

.person .words {
   position: relative;
   height: 75px;
   overflow: hidden;
   font-size: 14px;
   z-index: 0;
   margin-top: -30px;
   font-weight: 800;
}


/*  --- push部分 ---  */

.landingpage-push::before {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.55);
  top: 0;
  left: 0;
  position: relative;
}
.landingpage-push {
  height: 250px;
  background-image: url(https://ws1.sinaimg.cn/large/006tNc79gy1fj8fv1xvirj30ki08m40y.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: -100px;
  margin-top: 100px;
}

/*  --- 响应式设置 ---  */
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 3em; }
}
@media screen and (max-width: 640px){
    .hero h3 { font-size: 1.5em; }
}
