<!-- gotop -->

<div id="gotop">
  <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
</div>

<div class="footer">
  <p><a href="#" class="footer-text">关于我们</a>
    <span>|</span><a href="#" class="footer-text">用户协议</a>
    <span>|</span><a href="#" class="footer-text">意见反馈</a>
    <span>|</span><a href="#" class="footer-text">常见问题</a>
  </p>
  <p class="text-center">@2017 Together All rights reserved
  </p>
</div>
